<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>

  <% include partials/head %>
  
  <body>
    <form action="/careers" method="post">
    	<select name="company">
		  <option value="Apple">Apple</option>
		  <option value="Amazon">Amazon</option>
		  <option value="Google">Google</option>
		  <option value="Facebook">Facebook</option>
		</select>
		<select name="industry">
		  <option value="tech">tech</option>
		  <option value="Amazon">Amazon</option>
		  <option value="Google">Google</option>
		  <option value="Facebook">Facebook</option>
		</select>
		<input type="submit">
    </form>
  </body>
</html>
