<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>

  <% include partials/head %>
  <% include partials/nav %>
<link rel="stylesheet" type="text/css" href="public/stylesheets/css/alumni.css">
<style>
.topspacer {
    padding-top: 5em;
}

.companyhead {
	padding-bottom: 1em;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  	<% var industryNames = ['Accounting & Legal', 'Aerospace & Defense', 'Architecture & Civil Engineering', 'Arts & Entertainment', 'Automotive', 'Banking & Financial Services', 'Beauty & Fitness', 'Biotech & Pharmaceuticals', 'Business Services', 'Computer Software & Hardware', 'Construction', 'Consulting', 'Consumer Electronics', 'Consumer Services', 'Education & Schools', 'Energy & Utilities', 'Facilities', 'Farming & Agriculture', 'Government', 'Health Care & Hospitals', 'Information Technology', 'Insurance', 'Internet & Tech', 'Manufacturing', 'Marketing & Advertising', 'Media & Publishing', 'Nonprofit', 'Private Security', 'Real Estate', 'Recruiting & Staffing', 'Restaurants & Bars', 'Retail', 'Supermarkets', 'Telecommunications', 'Transportation & Logistics', 'Travel & Tourism', 'Wholesale'] %>
    <script>
  		var submission = function() {
  			event.preventDefault();
  		    var val = $('#industryList').val();
        console.log('submitted')
  		   $.post("/company", { 'industry' : val }, function(data, err) {
  		   		console.log(data);
  		   		$('.card').remove();
  		   		for(var i = 0; i < data.length; i++) {
  		   			var str = "<div class='card' style='width: 20rem; float:left'>" +
  							  "<div class='card-block'>" +
  							    "<h4 class='card-title'>" + data[i][1] + "</h4>" +
  							    "<p class='card-text'><b>City: </b>" + data[i][2] + "</p>" +
  							    "<p class='card-text'><b>State: </b>" + data[i][3] + "</p>" +
                    "<p class='card-text'><b>Industry: </b>" + data[i][4] + "</p>" +
                    "<p class='card-text'><b>Lat: </b>" + data[i][5] + "</p>" +
                    "<p class='card-text'><b>Long: </b>" + data[i][6] + "</p>" +
  							    "<a href='#'' class='btn btn-primary'>Learn more</a>" +
  							  "</div>" +
  							"</div>" +
  						"</div>"
  		   			$('body').append(str);
  		   		}

  		   })



  		}
  	</script>

  <body>
    <div class="container">
    <div class="topspacer">
    <header class="jumbotron hero-spacer">

  	<div class="form-inline">
  		<div> <h1> Find Companies </h1> </div>
  		<div class="companyhead"><h4> Fiter By Industry </h4></div>
	    <form action="/company" method="post" onsubmit="submission()">
			<p style="padding-top: 1em"> Industry </p>
			<select id="industryList" class="form-control col-4" name="industry">
			  <% for(var i=0; i<industries.length; i++) {%>
				   <option value='<%=industries[i][0]%>'><%= industries[i][0] %></li>
				<% } %>
			</select>
			<br>
			<br>
			<input type="submit" value="Submit">
	    </form>
	 </div>
	</div>

			  <% for(var i=0; i<myJson.length; i++) {%>
				   <%= myJson[i].name %>
				<% } %>




	</header>

	</div>


  </body>
</html>
