<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>

  <% include partials/head %>
  <% include partials/nav %>


<style>
.topspacer {
    padding-top: 5em;
}

.companyhead {
	padding-bottom: 1em;
}
</style>


<% var industryNames = ['Arts & Entertainment','Automotive',
'Banking & Financial Services',
'Biotech & Pharmaceuticals',
'Business Services',
'Chemicals',
'Compuer Software & Hardware',
'Computer Software & Hardware',
'Construction',
'Construction ',
'Consulting',
'Consumer Goods & Beverages',
'Consumer Services',
'Education & Schools',
'Energy & Utilities',
'Food Services',
'General Merchandise',
'General Merchandisers',
'Health Care & Hospitals',
'Information Technology ',
'Insurance',
'Internet & Tech',
'Legal Services',
'Manufacturing',
'Marketing & Advertising',
'Media & Publishing',
'Private Security',
'Real Estate',
'Recruiting & Staffing',
'Retail',
'Supermarkets',
'Telecommunications',
'Transportation',
'Transportation & Logistics',
'Travel & Tourism',
'Wholesale'] %>

  <body>
    <div class="container">
    <div class="topspacer">
    <header class="jumbotron hero-spacer">

  	<div class="form-inline">
  		<div> <h1> Map Companies </h1> </div>
  		<div class="companyhead"><h4> Fiter By Industry </h4></div>
	    <form action="/map" method="post">
			<p style="padding-top: 1em"> Industry </p>
			<select id="industryList" class="form-control col-4" name="industry">
			  <% for(var i=0; i<industryNames.length; i++) {%>
				   <option value= '<%=industryNames[i]%>'> <%= industryNames[i] %></li>
				<% } %>
			</select>
			<br>
			<br>
			<input type="submit">
	    </form>
	 </div>
	</div>





















<div id="map" style="width: 800px; height: 440px; border: 1px solid #AAA;"></div>


	<script type="text/javascript">




var map = L.map( 'map', {
  center: [20.0, 5.0],
  minZoom: 2,
  zoom: 2
})

L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  subdomains: ['a', 'b', 'c']
}).addTo( map )


var myIcon = L.icon({
  iconUrl: 'https://lh4.ggpht.com/Tr5sntMif9qOPrKV_UVl7K8A_V3xQDgA7Sw_qweLUFlg76d_vGFA7q1xIKZ6IcmeGqg=w300',
  iconRetinaUrl: 'https://lh4.ggpht.com/Tr5sntMif9qOPrKV_UVl7K8A_V3xQDgA7Sw_qweLUFlg76d_vGFA7q1xIKZ6IcmeGqg=w300',
  iconSize: [29, 24],
  iconAnchor: [9, 21],
  popupAnchor: [0, -14]
})


<% for(var i=0; i<myJson.length ; i++) {%>
 a = <%- JSON.stringify(myJson[i]) %>
 L.marker( [a.lat, a.lon], {icon: myIcon} )
  .bindPopup( '<label>' + a.name + '</label>')
  .addTo( map );
<% } %>



	</script>










	</header>

	</div>


  </body>
</html>
