<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html>

  <% include partials/head %>
  <% include partials/nav %>
<link rel="stylesheet" type="text/css" href="public/stylesheets/css/alumni.css">
<style>
.topspacer {
    padding-top: 5em;
}

.companyhead {
	padding-bottom: 1em;
}
</style>

  	<% var industryNames = ['Accounting & Legal', 'Aerospace & Defense', 'Architecture & Civil Engineering', 'Arts & Entertainment', 'Automotive', 'Banking & Financial Services', 'Beauty & Fitness', 'Biotech & Pharmaceuticals', 'Business Services', 'Computer Software & Hardware', 'Construction', 'Consulting', 'Consumer Electronics', 'Consumer Services', 'Education & Schools', 'Energy & Utilities', 'Facilities', 'Farming & Agriculture', 'Government', 'Health Care & Hospitals', 'Information Technology', 'Insurance', 'Internet & Tech', 'Manufacturing', 'Marketing & Advertising', 'Media & Publishing', 'Nonprofit', 'Private Security', 'Real Estate', 'Recruiting & Staffing', 'Restaurants & Bars', 'Retail', 'Supermarkets', 'Telecommunications', 'Transportation & Logistics', 'Travel & Tourism', 'Wholesale'] %>

  <body>
    <div class="container">
    <div class="topspacer">
    <header class="jumbotron hero-spacer">

  	<div class="form-inline">
  		<div> <h1> Find Alumni </h1> </div>
  		<div class="companyhead"><h4> Fiter By Industry </h4></div>
	    <form action="/map" method="post">
			<p style="padding-top: 1em"> Industry </p>
			<select id="industryList" class="form-control col-4" name="industry">
			  <% for(var i=0; i<industryNames.length; i++) {%>
				   <option value=<%=industryNames[i]%>><%= industryNames[i] %></li>
				<% } %>
			</select>
			<br>
			<br>
			<input type="submit">
	    </form>
	 </div>
	</div>

			  <% for(var i=0; i<myJson.length; i++) {%>
				   <%= myJson[i].name %>
				<% } %>




	</header>

	</div>

	
  </body>
</html>
