<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


<div>
 <a id="mybutton" href="/signout"">
  <button>signout</button>
 </a>
</div>



  </body>
</html>
